
<% if @current_user.owner? %>
<div class='left'>
  <h2>Doctors List</h2>
</div>
<div class="jumbotron">
  <table class='table table-condesed center'>
    <thead>
      <tr class='success'>
        <th>Name</th>
        <th>Role</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>School</th>
        <th>Years of Expe</th>
      </tr>
    </thead>
    <tbody>
      <% @doctors.each do |doctor| %>
        <tr>
          <td><%= link_to "#{doctor.name}", edit_user_path(doctor), id: 'doc-name' %></td>
          <td><%= doctor.role %></td>
          <td><%= doctor.address %></td>
          <td><%= doctor.city %></td>
          <td><%= doctor.state %></td>
          <td><%= doctor.zip %></td>
          <td><%= doctor.school_name %></td>
          <td><%= doctor.years_in_practice %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="btn btn-lg btn-success">
  <span class="glyphicon glyphicon-plus"></span> <%= link_to "Create New Doctor", new_user_path %></br>
</div>
<% end %>
<% if @current_user.role == 'doctor' %></br>
  <h2  class='left'> List of Appointments you have </h2>
  <div class="left">
    <% @appointment_pets.each do |pet| %>
    <div class="well">
      Pet Name  : <%= pet.name %>
      <div class="pull-right">
        <%= link_to "Edit pet info", edit_pet_path(pet), class: "btn btn-sm btn-success" %></br>
      </div></br>
      Pet Type  : <%= pet.pet_type %></br>
      Pet Breed : <%= pet.breed %> </br>
      Pet Age   : <%= pet.age %></br>
      Pet Weight: <%= pet.weight %></br>
      Pet Last Visit Date: <%= pet.date_of_last_visit %></br>
    </div>
    <% end %>
  </div>
<% elsif @current_user.role == 'receptionist' %>
<div class='left'>
  <%= link_to "Create Appointment", new_appointment_path, class: "btn btn-lg btn-success"  %></br>
  <% @all_appointments.each do |appointment| %>
    <div class='well'>
      Customer Name: <%= appointment.customer.name %>
      <div class="pull-right">
        <%= link_to 'Edit Appointment', edit_appointment_path(appointment), class: "btn btn-sm btn-success" %>
      </div></br>
      Pet Name: <%= appointment.pet.try(:name) %></br>
      Doctor Name: <%= appointment.doctor.try(:name) %></br>
      Date of next appointment: <%= appointment.date_of_visit %></br>
      Reason for visit: <%= appointment.reason_for_visit %>
    </div>
  <% end %>
  <%= link_to "Create Appointment", new_appointment_path, class: "btn btn-lg btn-success"  %>
</div>
<% elsif @current_user.role == 'customer' %>
  <h2> Your next Appointment </h2>
  <div class="left">
    <% @pets.each do |pet| %>
      <div class="well">
        Name: <%= pet.name %></br>
        Date of next appointment: <%= pet.date_of_next_visit %></br>
        Reason for visit: <%= pet.next_appointment.reason_for_visit %>
      </div>
    <% end %>
  </div>
<% end %>
